@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Nunito', serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt-3{
    margin-top: 3rem;
}
.container{
    height: 100vh;
    width: 100vw;
}
.heading{
    flex-direction: column;
}
.head{
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address span{
    font-weight: bolder;
}
.address{
    width: 500px;
    text-align: center;
}
.head h1{
    font-size: 29px;
    margin: 5px;
}
.head p{
    font-size: 17px;
    margin: 3px;
}
.contact{
    font-size: 16px;
    margin: 6px;
}
.contact img{
    height: 23px;
    width: 23px;
    margin: 5px;
}
.call{
    display: flex;
    align-items: center;
}
form{
    width: 90vw;
    margin: 0 auto;
}
.input{
    margin: 10px 0;
    display: flex;
    text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
form input{
    margin: 3px;
    width: 100%;
    padding: 0px 5px;
    background: transparent;
    color: black;
    border: none;
    font-size: 15px;
    outline: none;
    border-bottom: 1px solid black;
}
.tableInp{
    padding: 0 20px;
    width: calc(100% - 41px);
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}
.label{
    margin: 2px;
    padding-top: 5px;
    width: 110px;
}
th{
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
    width: 150px;
    height: 35px;
}
.table{
    margin: 15px 0;
}
table{
    width: 90vw;
    margin: 0 auto;
    padding: 0px 7px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.items{
    width: 350px;
}
.w-32{
    width: 32%;
}
.w-48{
    width: 48%;
}
.bottom .label{
    width: 200px;
}
.trash{
    width: 1120px;
    border: none;
}
.w-200{
    width: 200px;
}
.btm-table{
    position: relative;
}
.inputItem tr{
    display: flex;
    justify-content: center;
    align-items: center;
}
table button{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
.inpForm{
    border: none;
}
.inpForm th{
    border-top: none;
    border-bottom: none;
}
#tbody tr{
    position: relative;
}
#tbody tr button{
    position: absolute;
}
#overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
#priceInput{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    z-index: 200;
    display: none;
}
#priceInput input{
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
#priceInput i{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#priceInput button{
    margin-top: 20px;
    cursor: pointer;
}
.priceBtn{
    position: absolute;
    top: 25%;
    left: 5%;
    cursor: pointer;
}
form span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}