@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.label{
    width: 150px;
}
label{
    margin: 5px;
    padding: 5px;
}
input, select{
    width: 250px;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 7px;
}
button{
    height: 25px;
    width: 70px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 15px;
    margin: 10px;
}